/*-------------------------ContactsTagPage--------------------------*/
#idContactsTagPage_tbl {
  padding: 6px;
}

/*-------------------------ContactsTPage--------------------------*/
#idContactsTPage_tbl {
  padding: 8px;
}

.contact-tag {
  background-color: #ddd;
  display: inline-block;
  margin-right: 8px;
  padding: 3px 9px;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.contact-filter {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 4px 10px;
}

/*-------------------------MyContactsTPage--------------------------*/
.MyContactsTPage {
  background-color: #fff;
}

.MyContactsTPage .tool_bar {
  border-color: #c44;
  padding: 10px;
}

/*-------------------------ContactsEditPage--------------------------*/
.ContactsEditPage .FormTableRowTemplatePage .form_tbl .l {
  padding: 6px;
}

/*-------------------------TongxunluTPage--------------------------*/
.TongxunluTPage {
  background-color: #fff;
  min-height: 480px;
}

.TongxunluTPage .pynav {
  padding: 10px 0 0px 10px;
}

.TongxunluTPage .pynav a.simple_btn {
  margin-right: 4px;
}

.TongxunluTPage .txl-filter {
  background-color: #f9f9f9;
  border-bottom: 1px solid #c30;
  padding: 5px 10px;
}

#idTongxunluTPage_tbl {
  padding: 10px;
}