
/*-------------------------MyContactsTPage--------------------------*/
.MyContactsTPage {
  background-color: #fff;
}

.MyContactsTPage .tool_bar {
  border-color: #c44;
  padding: 10px;
}

.MyContactsTPage .cc {
  padding: 10px;
}

.FormTableRowTemplatePage .form_tbl .l {
  padding: 6px;
}