/*-------------------------ContactsTPage--------------------------*/
#idContactsTPage_tbl {
  padding: 8px;
}

#idContactsTPage_tbl .contact-tag {
  background-color: #ddd;
  display: inline-block;
  margin-right: 8px;
  padding: 3px 9px;
  -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/*-------------------------ContactsTagPage--------------------------*/
#idContactsTagPage_tbl {
  padding: 6px;
}

/*-------------------------MyContactsTPage--------------------------*/
.MyContactsTPage {
  background-color: #fff;
}

.MyContactsTPage .tool_bar {
  border-color: #c44;
  padding: 10px;
}

.MyContactsTPage .cc {
  padding: 10px;
}

.ContactsEditPage .FormTableRowTemplatePage .form_tbl .l {
  padding: 6px;
}
